* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #FFF;
}

.content {
    padding: 1rem;
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
}

.content h1 {
    margin: 0;
}